@page "/"

<PageTitle>Blazor Draggable Demo</PageTitle>

<h3 class="mt-4">Draggable Component</h3>
<p>
    Try to drag and drop titles and objects.
    <br />The Moon moves around the Earth, so it drags at the same time as the Earth.
    <br />The Earth moves around the Sun, so the Earth and the Moon drags at the same time as the Sun.
    <br />Draggable component supports two-way binding: try to change values in "Solar system position:" fields.
</p>
<div class="mt-2">
    <DraggableExample />
</div>
<h3 class="mt-4">Connector Component</h3>
<p>
    Try to drag and drop circles.
    <br />Lines-Connectors will adapt to changes.
    <br />Some Lines-Connectors connect at the bottom, some at the top. The left and right Connectors are also implemented, but not shown here.
</p>
<div class="mt-2">
    <ConnectorExample />
</div>